.game{
    background-color: blueviolet;
    position: absolute;
    height: 40em;
    width: 30em;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.board{
    background-color: rgb(226, 141, 43);
    position: absolute;
    height: 400px;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-70%);
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.grid-cheese {
    background-image: url("cheese.jpg");
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
}
.grid-snake {
    background-image: url("snake.png");
    background-size: cover;
     background-position: 10px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
}
.grid-tile {
    background-color: rgb(134, 35, 35);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.player{
    background-image: url("rat.png");
    background-size: cover;
    height: 80px;
    width: 80px;
    position: inherit;
}
#learn{
    height: 40px;
    width: 100px;
    background-color: lawngreen;
    position: inherit;
    left: 50%;
    transform: translate(-110%,0);
    bottom: 20px;
}
#solve{
    height: 40px;
    width: 100px;
    background-color: rgb(0, 244, 252);
    position: inherit;
    left: 50%;
    transform: translate(10%,0);
    bottom: 20px;
}
.control{
    height: 40px;
    position: inherit;
    left: 50%;
    transform: translate(-50%,-100%);
    bottom: 20px;
}
#manual{
    position: absolute;
    left: 50%;
    bottom: 20%;
    height: 50px;
    font-size: 20px;
    transform: translate(-50%,0);
}